<%= link_to "Bo.A.reS", root_path, :class => 'brand' %>

<ul class="nav">
  


  <% if user_signed_in? %>
    <li class="nav2">
   Welcome <%= current_user.name %>.
    </li>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>        
    </li>
   <% else %>
    <li>
    <%= link_to 'Login', new_user_session_path %>  
    </li>
   <% end %>




  <% if user_signed_in? %>
    <li>
    <%= link_to 'Edit account', edit_user_registration_path    %>
    </li>
     
    <% if session[:cart_id] %>
            <li><%= link_to "Current Cart", { :controller => "carts", :action => "show", :id => session[:cart_id] } %></li>
          <% end %>
      <li><%= link_to "Buy Books", root_path %></li>  
    <% if current_user.has_role? :admin %>
      <li>
      <%= link_to 'Admin', users_path %>
      </li>
       <li>
      <%= link_to 'Announcement', announcements_path %>
      </li>
      
       <li><%= link_to "View/Edit Orders", orders_path %></li>
    <% end %>
  <% else %>
    

    <li>
    <%= link_to 'Sign up', new_user_registration_path %>
    </li>
    <li>
    <%= link_to 'Search', book_search_path %>
    </li>
  <% end %>
  
   

 
</ul> 